<ion-header>
  <ion-toolbar class="sp-tab-header">
    <div id="header-back-button">
      <ion-icon name="arrow-back-outline" id="back" size="large" (click)="quitAlert()"></ion-icon>
      <ion-title> Animals </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="card-container">

    <div class="card-row">
      <ion-card id="card1">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
  
      <ion-card id="card2">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>

      <ion-card id="card3">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
    </div>

    <div class="card-row">
      <ion-card id="card4">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
  
      <ion-card id="card5">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>

      <ion-card id="card6">
        <ion-card-content >
        </ion-card-content> 
      </ion-card>
    </div>

    <div class="card-row">
      <ion-card id="card7">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
  
      <ion-card id="card8">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>

      <ion-card id="card9">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
    </div>

    <div class="card-row">
      <ion-card id="card10">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
  
      <ion-card id="card11">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>

      <ion-card id="card12">
        <ion-card-content>
        </ion-card-content> 
      </ion-card>
    </div>

  
    <ion-button (click)="quitAlert()">
      QUIT
    </ion-button>  

  </div>
</ion-content>
