ion-card{
    margin: 10px;
    align-items: center;
    justify-content: center;
}

ion-card-content{
    display: none;
}

ion-content{
    --background: var(--main-light)
}

#title{
    display:flex;
    justify-content:space-between;
}

#gallery{
    color: black;
    font-weight: 1200;
    padding: 10px;  
}