ion-toolbar{
    --background: var(--main-light);
}

ion-input{
    margin: 15px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

ion-label{
    color: var(--main);
    font-weight: bold;
}

ion-button{
    --background: var(--accent);
}

p{
    font-style: italic;
    font-size: 4vw;
    color: var(--main);
}

#closeButton{
    background: transparent;
    border: none;
    color: var(--accent);
    font-size: 20px;
}

#con{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}